<app-menubar></app-menubar>
<div class="container-fluid" style="overflow: auto;height: 95vh;">
  <div class="row">
    <div class="col-12">
      <h3>Links removed</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <textarea [(ngModel)]="text" class="form-control" rows="10"></textarea>
    </div>
    <div class="col-6">
      <textarea [(ngModel)]="output" class="form-control" rows="10"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3><span [innerText]="transformMessage"></span></h3>
    </div>
  </div>

  <button value="Enviar" (click)="showText()" >BOTAO</button>

</div>
