<app-menubar></app-menubar>
<div class="container-fluid" style="overflow: auto;height: 95vh;">


  <div class="row">
    <div class="col col-8"><h3>Uploaded</h3></div>
    <div class="col col-2"><button class="btn btn-info" (click)="refresh()">REFRESH</button></div>
    <div class="col col-2"><button class="btn btn-info" (click)="openUploadModal()">ADD</button></div>

  </div>
  <div class="row">
    <div class="col-1 col-md-4 col-lg-4" (click)="openEditModal(video.idVideo)" *ngFor="let video of afterUploadList" style="margin-bottom: 10px;">
      <div>{{video.code}}</div>
      <img *ngIf="video" [src]="video.imageUrl" style="width: 100%;max-width: 200px;height: auto;min-height: 100px;">
    </div>
  </div>
</div>
